.navBar {
    position: relative;
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}


.menuList {
    position: absolute;
    width: 50%;
    margin-top: 3%;
    left: 25%;
    border-radius: 16px;
    background: rgba(126, 126, 126, 0.13);
    backdrop-filter: blur(2px);
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.route {
    font-size: 23px;
}

.menuBtn {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
}
.closeBtn{
    display: none;
}
.textRoute {
    text-decoration: none;
    color: white;
}
.active {
    color: #BF94FF;
}
@media(max-width: 600px){
    .menuBtn{
        display: block;
    }
    .closeBtn{
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
    }
    
    .menuList{
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 999;
        gap: 4rem;
        background: rgba(0, 0, 0, 0.194);
        backdrop-filter: blur(15px);
        border: none;
    }
    .route{
        font-size: 25px;
    }
    
}
