<<<<<<< HEAD
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

=======
*{
  margin: 0;
  padding: 0;
}
>>>>>>> f8c8cc6d79dd67012a8833e30335a317f4dae0ad
